
.perfis-sugeridos div div p{font-size:12px;font-weight: 400;color:#8E8E8E}
.perfis-sugeridos div div strong p{font-size:14px;font-weight: 500;color:#262626}
.perfis-sugeridos div .seguir p{font-size:12px;font-weight: 500;color:#139EF2;}


.sugestoes p{font-size:12px;font-weight:500;color:#262626;}
.sugestoes strong p{font-size:12px;font-weight:500;  color: #8E8E8E;}
.side-bar .perfil .sugestao-principal p{ color:#8E8E8E;font-size:12px;font-weight: 400;}
.side-bar .perfil .sugestao-principal strong p{ color:#262626;font-size:14px;font-weight: 500;}

.perfil{display:flex;align-items:center;}


.container div .sugestoes{display:flex;
    justify-content:space-between;margin-top:20px;margin-bottom:20px;}
    
.side-bar{margin-left:642px;width:293px;position: fixed;}

.perfil-sugerido{display:flex; justify-content:space-between;align-items:center; margin-bottom: 10px;}

.perfis-sugeridos{display:flex;flex-direction:column;}

.perfil img{Width :
    56px;height: 56px; border-Radius :
    28px;margin-right: 5px;}


.perfis-sugeridos div div img{height:32px;width:32px;border-radius:16px;margin-right: 5px;}



.side-bar-falsa{width: 321px;}

